<div id="frutti">




  <section>

    <h1>Lista de Frutas</h1>
    <!--
    <div class="d-flex inline  justify-content-between mb-2 p-3">

      <input type="text" [(ngModel)]="nuevaFruta" placeholder="Añadiendo una nueva fruta" class="form-control col-10 p-2">
      <button (click)="crear()" class="btn btn-success">CREAR</button>
    </div>
    
  -->

    <!--DEBUG -->
    <div style="border:1px solid red; padding:10px;">
      <p>Valores: {{ formulario.value | json }}</p>
      <p>Estado: {{ formulario.status | json }}</p>
    </div>

    <form [formGroup]="formulario" (submit)="crear()">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" formControlName="nombre" class="form-control" placeholder="Mínimo 3 letras">
        <p *ngIf="formulario.controls.nombre.invalid && formulario.controls.nombre.touched" class="text-danger">*recuerda
          que minimo 3 letras</p>
      </div>
      <div class="form-group">
        <label for="nombre">Precio</label>
        <input type="number" formControlName="precio" class="form-control">
      </div>
      <div class="d-flex">
      <button type="submit" class="btn btn-block btn-success w-50" [disabled]="formulario.invalid">Crear</button>
      <button type="submit" class="btn btn-block btn-primary w-50" [disabled]="formulario.invalid">Modificar fruta Seleccionada</button>
    </div>

    <div class="form-group">
      <label for="oferta">Oferta</label>
      <input type="checkbox" formControlName="oferta" class="form-control">
    </div>

      <div *ngIf="formulario.controls.oferta.value">
      <label for="descuento">Descuento</label>
      <input type="number" formControlName="descuento" class="form-control">

    </div>

    </form>



    <hr>
    <div class="d-inline-flex  p-3">
      <ul class="list-group">

        <!-- alternativa en caso de que no se cargen datos en el array para la vista -->
        <p *ngIf="frutas.length == 0">Cargando lista de frutas...</p>


        <!-- TODO, crear un componente para reutilizar los mensajes de error-->

        <div *ngIf="mensaje !=''" class="alert alert-warning alert-dismissable fade show" role="alert">
          <p>{{mensaje}}</p>
        </div>

        <li class="list-group-item" *ngFor="let fruta of frutas">
          <div class="d-inline-flex p-3">
            <div class="w-25 p-3 ">
              <p style="background-color: #eee;">
                <img src="{{fruta.imagen}}" class="img-thumbnail ">

                <tr>
                  <td class="p-2">
                    {{fruta.id}}
                  </td>


                  <td class="p-2">
                    {{fruta.nombre}}

                  </td>

                  <td>
                   <!-- <input type="checkbox" [checked]="frutas.completed" (click)="change(frutas)">-->
                  </td>
                </tr>


            </div>



            <div class="table-responsive-md">
              <table class="table">
                <tr>
                  <th>Precio</th>
                  <td>
                    {{fruta.precio}}
                  </td>
                </tr>
                <tr>
                  <th>Oferta</th>
                  <td>
                    {{fruta.oferta}}
                  </td>
                </tr>
                <tr>
                  <th>Descuento</th>
                  <td>
                    {{fruta.descuento}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <i (click)="eliminar(fruta)" class="fas fa-dumpster"></i>

                  </td>
                  <td>
                    <i (click)="editar(fruta)" class="fas fa-edit"></i>
                  </td>
                </tr>

              </table>
            </div>


          </div>






        </li>

      </ul>

    </div>
  </section>

</div>