<div id="frutti">
  <h1>Lista de Frutas</h1>
  <section>
  <div>


    <input type="text" [(ngModel)]="nuevafruta">

    <span>Crear nueva fruta</span>
    <button (click)="new()" class="btn btn-success">CREAR</button>
  </div>

  <hr>

  
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let fruta of frutas">

        <span>{{fruta.imagen}}{{fruta.id}}{{fruta.nombre}}</span>
        <button (click)="delete(listafruta)" class=" btn-primary btn">Eliminar</button>

      </li>

    </ul>
  </section>
</div>
