<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="wellcome" href="#">Angular2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['home']">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['about/1']">About</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['juego']">Juego</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['saludar']">Saludar</a>
          </li>

          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['directiva']">Directivas</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['flujo']">Flujo</a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['pipe']">Pipe</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['array']">Array</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['comparador']">Comparador frutas</a>
    </li>

    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['coches-comparador']">Comparador coches</a>
    </li>


    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['coches']">Coches</a>
    </li>

   
    
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Servicios
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" [routerLink]="['service']">Intro</a>
      <a class="dropdown-item"[routerLink]="['persona']"> Personas</a>
     
      <a class="dropdown-item" [routerLink]="['frutas']">frutas</a>
      <a class="dropdown-item" [routerLink]="['todos']">TODOs</a>
      <a class="dropdown-item" [routerLink]="['listafrutas']">Lista Frutas</a>
    </div>
  </li>

      </ul>
    </div>    
</nav>

<main class="container pt-4">

  <!-- Navegacion App -->
  <router-outlet></router-outlet>

</main>
