<div class="card" style="width: 18rem;">
  <img src="{{coche.imagen}}" class="card-img-top" alt="{{coche.nombre}}">
  <div class="card-body">
    <h5 class="card-title">{{coche.nombre | uppercase }}</h5>      
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{coche.precio | moneda }}   {{coche.precio-cocheComparar.precio}}</li>      
  </ul>    
  <ul class="list-group list-group-flush">
      <li *ngFor="let c of coche.colores"class="list-group-item">{{ c.nombre}}</li>      
    </ul>
    <div class="card-body">
        <button (click)="clickBotton($event)">añadir al carrito</button>  
      </div>
</div>